# **Trabalho Final**
### Algoritmos e Programação com Linguagem Python
---

**Orientações Gerais:**

* Esta é o trabalho final prático onde serão trabalhados conceitos 
apresentados e exercitados em sala de aula.

* Aspéctos como clareza e organização do código, comentários, raciocínio lógico, coerência no nome de variáveis, utilização das estruturas mais adequadas para a solução dos problemas e o funcionamento adequado serão analisados e irão compor o valor da nota final.

* Procure entender exatamente o que se pede antes de iniciar a codificação. Quando se sabe o que é necessário fazer, a codificação fica mais fácil, mais eficiente e mais divertida ;-).

* Faça o upload do notebook completo nomeado da seguinte forma: *nome_sobrenome_RA.ipynb*. 

* No caso de grupos, informar ao professor os membros de cada grupo e cada um deverá importar o arquivo no Canvas individualmente.

* Arquivos com nomes incorretos serão desconsiderados!

* Não deixem dúvidas para trás! Acessem os grupos combinados ou entrem em contato com o professor. 

✌ Sucesso o/

# RMS Titanic

O RMS Titanic foi um navio de passageiros britânico operado pela White Star Line e construído pelos estaleiros da Harland and Wolff em Belfast. Foi a segunda embarcação da Classe Olympic de transatlânticos depois do RMS Olympic e seguido pelo HMHS Britannic. Projetado pelos engenheiros navais Alexander Carlisle e Thomas Andrews, sua construção começou em março de 1909 e ele foi lançado ao mar em maio de 1911. O Titanic foi pensado para ser o navio mais luxuoso e mais seguro de sua época, gerando lendas que era supostamente "inafundável".

A embarcação partiu em sua viagem inaugural de Southampton para Nova Iorque em 10 de abril de 1912, no caminho passando em Cherbourg-Octeville na França e por Queenstown na Irlanda. Ele colidiu com um iceberg às 23h40min do dia 14 de abril e afundou na madrugada do dia seguinte matando mais de 1500 pessoas, sendo um dos maiores desastres marítimos em tempos de paz de toda a história. Seu naufrágio destacou vários pontos fracos de seu projeto, deficiências nos procedimentos de evacuação de emergência e falhas nas regulamentações marítimas da época. Comissões de inquérito foram instauradas nos Estados Unidos e no Reino Unido, levando a mudanças nas leis internacionais de navegação que permanecem em vigor mais de um século depois.

Os destroços do Titanic foram procurados por décadas até serem encontrados em 1985 por uma equipe liderada por Robert Ballard. Ele se encontra a 3843 m de profundidade e a 650 km ao sudeste de Terra Nova no Canadá. Sua história e naufrágio permaneceram no imaginário popular durante décadas, levando a produção de vários livros e filmes a seu respeito, mais notavelmente o filme Titanic de 1997. Até hoje o Titanic permanece como um dos navios mais famosos da história, com seus destroços atraindo várias expedições de exploração ao longo dos anos.

*Fonte:* [WikiPedia](https://pt.wikipedia.org/wiki/RMS_Titanic)

--------

A equipe da [Udacity](https://udacity.com) disponibilizou informações sobre uma parte dos passageiros à bordo do RMS Titanic no dia daquela tragédia. Esse _dataset_ que contém informações reais vem sendo utilizado em diversos estudos de caso, além de servir de base para aprendizado de Ciência de Dados, Estatística e Machine Learning.

O arquivo **titanic_data.csv** contém informações reais sobre os passageiros organizadas da seguinte forma:

- Survived (Sobreviveu): 0 = Não, 1 = Sim
- Pclass (Classe): Classe de ingresso 1 = 1º, 2 = 2º, 3 = 3º
- Sex (Sexo): Sexo do passageiro
- Age (Idade): Idade em anos
- Sibsp: Quantidade de irmãos / cônjuges a bordo do Titanic
- Parch: Quantidade de pais / crianças a bordo do Titanic
- Ticket (Bilhete): Número do bilhete de embarque
- Fare (Tarifa): Tarifa paga pelo Passageiro
- Cabin (Cabine): Número de cabine
- Embarked (Embarque): Porto de Embarque (C = Cherbourg, Q = Queenstown, S = Southampton)

O objetivo deste estudo é obter algumas informações estatísticas sobre a tragédia e realizar alguns _insights_ a respeito dos tripulantes e das circunstâncias do acidente.

Efetue a carga do arquivo através da biblioteca _Pandas_ e a partir do _DataFrame_ gerado, efetue as operações necessárias para responder as questões.

## Importando o DataSet

1 - Efetuar a leitura do dataset através do Pandas, gerando um DataFrame de nome tit, levando-se em consideração que o arquivo encontra-se na mesma pasta do notebook.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
tit = pd.read_csv('/content/titanic_data.csv')

## Conhecendo o DataSet

2 - Quantas linhas e colunas tem o dataset? Quais os tipos das colunas?

In [ ]:
tit.info()

3 - Mostre os dados dos dez primeiros e 8 últimos registros do dataset.

In [ ]:
tit.head(10)

In [ ]:
tit.tail(8)

4 - Cálculos envolvendo colunas numéricas com dados faltantes podem sofrer impacto. É possível afirmar se há dados faltantes no dataset? Caso positivo, quais e quantos seriam esses dados? Preencha os dados faltantes de forma que não influenciem em operações futuras.

In [ ]:
# Podemos verificar se há dados nulos de duas formas, através da função isnull() ou através do info
tit.info()

In [ ]:
tit.isnull()

In [ ]:
tit['Age'] = tit['Age'].fillna(int(tit['Age'].mean()))

In [ ]:
tit['Cabin'] = tit['Cabin'].fillna(0)

In [ ]:
tit.head()

## Adequando o DataSet

5 - Uma vez que algumas colunas não serão utilizadas, eventualmente é melhor excluí-las para que não interfiram na análise. Assim, exclua do dataset as colunas Sibsp, Parch e Ticket.

In [ ]:
tit = tit.drop(columns=['SibSp', 'Parch', 'Ticket'])
tit.head()

6 - Renomear as colunas restantes para a lingua portuguesa, utilizando os seguintes nomes de colunas: IdPassageiro, Sobreviveu, Classe, Nome, Sexo, Idade, Tarifa, Cabine e Embarque.

In [ ]:
tit.head()

In [ ]:
colunas = {'PassengerId': 'IdPassageiro', 'Survived': 'Sobreviveu', 'Pclass': 'Classe', 'Name': 'Nome', 
           'Sex': 'Sexo', 'Age': 'Idade', 'Fare': 'Tarifa', 'Cabin': 'Cabine', 'Embarked': 'Embarque'}
tit = tit.rename(columns=colunas)
tit.head()

7 - Alterar o conteudo da coluna Sobreviveu para:
- 0 => Não
- 1 => Sim

In [ ]:
tit['Sobreviveu'] = tit['Sobreviveu'].replace({0: 'Não', 1: 'Sim'})
tit.head()

8 - Alterar o conteudo da coluna Sexo para:
- female => Mulher
- male   => Homem

In [ ]:
tit['Sexo'] = tit['Sexo'].replace({'female': 'Mulher', 'male': 'Homem'})
tit.head()

## Alguns números

9 - Quantas mulheres e quantos homems estavam à bordo, de acordo com o dataset?

https://www.shanelynn.ie/bar-plots-in-python-using-pandas-dataframes/

In [ ]:
tit['Sexo'].value_counts()

In [71]:
homens = tit.loc[(tit['Sexo'])=='Homem']
mulheres = tit.loc[(tit['Sexo'])=='Mulher']

In [ ]:
fig, ax = plt.subplots()

generos = tit['Sexo'].unique()
counts = [len(homens),len(mulheres)]
bar_colors = ['tab:red', 'tab:blue']

ax.bar(generos, counts, color=bar_colors)

ax.set_ylabel('Nº de Tripulantes')
ax.set_title('Gêneros tripulação')

plt.show()

10 - Quantos passageiros sobreviveram e quantos não sobreviveram?

In [128]:
dados = tit['Sobreviveu'].value_counts()
dados

Não    549
Sim    342
Name: Sobreviveu, dtype: int64

In [ ]:
plotdata = dados
plotdata.plot(kind='bar')
plt.title("Sobreviventes no titanic")
plt.ylabel("Quantidade de pessoas")

11 - Quantas mulheres não sobreviveram?

In [ ]:
mulheres.groupby(['Sobreviveu'])['Sexo'].count()

12 - Proporcionalmente, sobreviveram mais homens ou mais mulheres? Cite as proporções.

In [ ]:
mulheres_sobreviveram = len(mulheres.loc[(mulheres['Sobreviveu']=='Sim')])
mulheres_sobreviveram

In [ ]:
homens_sobreviveram = len(homens.loc[(homens['Sobreviveu']=='Sim')])
homens_sobreviveram

In [78]:
total = len(tit['Sobreviveu'])

In [ ]:
porcentagem_homens_sobreviveram = round((homens_sobreviveram/total)*100,2)
porcentagem_mulheres_sobreviveram = round((mulheres_sobreviveram/total)*100,2)

In [ ]:
porcentagem_homens_sobreviveram

In [ ]:
porcentagem_mulheres_sobreviveram

13 - Levando-se em consideração a idade dos passageiros, qual a idade e quantidade de pessoas com o maior número de mortos?

In [ ]:
pessoas_que_morreram = tit.loc[(tit['Sobreviveu']=='Não')]
pessoas_que_morreram['Idade'].value_counts().head(1)

14 - Qual a média de idade dos homens sobreviventes?

In [ ]:
homens.loc[(homens['Sobreviveu']=='Sim')]['Idade'].mean()

15 - Levando-se em consideração passageiros prioritários (mulheres e crianças de até 15 anos independente do sexo) qual a proporção de sobreviventes por sexo?

In [53]:
criancas = tit.loc[(tit['Idade']<=15)]

mulheres_sobreviventes = mulheres.loc[(mulheres['Sobreviveu']=='Sim')]
criancas_sobreviventes = criancas.loc[(criancas['Sobreviveu']=='Sim')]

prioritarios = len(criancas_sobreviventes)+len(mulheres_sobreviventes)

In [ ]:
prioritarios/len(homens)

In [ ]:
prioritarios/len(mulheres)

16 - Qual a quantidade de passageiros por classe?

In [ ]:
classe = tit['Classe'].value_counts()
classe

In [ ]:
plotdata = classe
plotdata.plot(kind='bar')
plt.title("Passageiros por classe")
plt.ylabel("Quantidade de passageiros")

17 - Qual o percentual de sobreviventes por classe?

In [ ]:
sobreviventes = tit.loc[(tit['Sobreviveu']=='Sim')]

classe_sobrevive = sobreviventes['Classe'].value_counts()

for i in range(3):
  print(f"Percentual {i+1}ª Classe = {round((classe_sobrevive[i+1]/classe[i+1])*100,2)}%")

18 - Crie um dataframe que demonstre a quantidade de sobreviventes e não sobreviventes, agrupados por sexo e classe.

In [ ]:
df= pd.DataFrame(tit['Classe'])
df['Sexo'] = pd.DataFrame(tit['Sexo'])
df['Sobreviventes']=pd.DataFrame(tit['Sobreviveu'])

df.groupby(['Sexo','Classe'])['Sobreviventes'].value_counts()

19 - Dos homens com idade entre 24 e 30 anos quantos da classe 3 sobreviveram? Quantos da classe 2 não sobreviveram?

In [81]:
faixa_etaria = homens.loc[((homens['Idade']>=24) & (homens['Idade']<=30))]

In [ ]:
homens_terc_classe = faixa_etaria.loc[(faixa_etaria['Classe']==3)]['Sobreviveu'].value_counts()
homens_terc_classe

In [ ]:
plotdata = homens_terc_classe
plotdata.plot(kind='bar')
plt.title("Homens entre 24 e 30 anos da 3º Classe")
plt.ylabel("Quantidade de passageiros")

In [ ]:
homens_seg_classe = faixa_etaria.loc[(faixa_etaria['Classe']==2)]['Sobreviveu'].value_counts()
homens_seg_classe

In [ ]:
plotdata = homens_seg_classe
plotdata.plot(kind='bar')
plt.title("Homens entre 24 e 30 anos da 2º Classe")
plt.ylabel("Quantidade de passageiros")

20 - Calcule a probabilidade condicional de uma pessoa sobreviver, dado seu sexo e a classe em que estava viajando:
- P(S= true | G=female,C=1)
- P(S= true | G=female,C=2)
- P(S= true | G=female,C=3)
- P(S= true | G=male,C=1)
- P(S= true | G=male,C=2)
- P(S= true | G=male,C=3)

In [113]:
qtd_de_sobreviventes = len(sobreviventes)
total_passageiros = len(mulheres) + len(homens)

mulheres_por_classe = mulheres.groupby(['Classe'])['Classe'].count()
mulheres_pri_classe = mulheres_por_classe[1]
mulheres_seg_classe = mulheres_por_classe[2]
mulheres_ter_classe = mulheres_por_classe[3]

homens_por_classe = homens.groupby(['Classe'])['Classe'].count()
homens_pri_classe = homens_por_classe[1]
homens_seg_classe = homens_por_classe[2]
homens_ter_classe = homens_por_classe[3]

In [114]:
probabilidade_sobreviver = qtd_de_sobreviventes/(total_passageiros)

In [ ]:
#P(S= true | G=female,C=1)
P1 = probabilidade_sobreviver*(mulheres_pri_classe/len(mulheres))
P1

In [ ]:
#P(S= true | G=female,C=2)
P2 = probabilidade_sobreviver*(mulheres_seg_classe/len(mulheres))
P2

In [ ]:
#P(S= true | G=female,C=3)
P3 = probabilidade_sobreviver*(mulheres_ter_classe/len(mulheres))
P3

In [ ]:
#P(S= true | G=male,C=1)
P4 = probabilidade_sobreviver*(homens_pri_classe/len(homens))
P4

In [ ]:
#P(S= true | G=male,C=2)
P5 = probabilidade_sobreviver*(homens_seg_classe/len(homens))
P5

In [ ]:
#P(S= true | G=male,C=3)
P6 = probabilidade_sobreviver*(homens_ter_classe/len(homens))
P6